<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <!--detail>  
     <class name="MayurTest.SampleTesting"/>
 
    </detail--> 
       
             <class name="MayurTest.AllTestCasesLinkCxoApp"/>
     
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

